


<div class="card card-corso" (click) = "goToDetail()">
  <div class="price-box">
    <p class="price">{{corso.prezzo | currency:'EUR':true }}</p>
    <p class="info-price"> / h</p>
  </div>
  <img class="img_corso img-shadow " src="/assets/svg/{{corso.imgName}}.svg" alt="Card image cap">
  <div class="card-body pt-1 pb-1">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h3 class="card-title mb-0 mt-2"><strong>{{corso.titolo}}</strong></h3>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h4 class="card-title mb-0 mt-2 title-ext">{{corso.titoloExt}}</h4>
      </div>
      
      <div class="col-12 mt-2 d-flex justify-content-center">
        <div class="infoTutorOnline d-flex justify-content-center">
          <p class="card-text p-small"><strong>TUTOR ONLINE</strong></p>
        </div>
      </div>
      
    </div>
  </div>
</div>