<nav class="navbar bg-light fixed-nav-bar pr-4 pl-4">
  <div class="row w-100">
    <div class="col-6 px-0">
      <button mat-button class="px-0" (click)="goTo('')"><img src="/assets/logo.png" class="logo" height="25px" alt="image"></button>

    </div>
    <div class="col-6 d-flex flex-row-reverse px-0">
      
      <button  *ngIf="!user_service.isUtenteLogged" mat-button [matMenuTriggerFor]="menuLogin">
        <img  height="28px" alt="" class="c-icon border border-white" src="/assets/icons/svgs/regular/user-com.svg">
      </button>
      <button class="px-0 prenotazioni" [matMenuTriggerFor]="menu"  mat-button matBadge="{{user_service.utente.acquisti.length}}" *ngIf="user_service.utente && user_service.utente.acquisti && user_service.utente.acquisti.length >  0" >
        <img height="28px" class="info-calendar" src="/assets/svg/calendar.svg" alt="Card image cap">
      </button>
      <button *ngIf="user_service.isUtenteLogged && (!user_service.utente.acquisti || user_service.utente.acquisti.length ===  0)" mat-button [matMenuTriggerFor]="menu" >
        <img *ngIf="!user_service.utente.photoUrl" height="28px" alt="" class="c-icon border border-white" src="/assets/icons/svgs/regular/user-com.svg">
        <img *ngIf="user_service.utente.photoUrl" height="28px" alt="" class="c-icon rounded-circle border border-white" src="{{user_service.utente.photoUrl}}">
      </button>
    </div>
  </div>
</nav>

<mat-menu class="mt-2 bg-light" #menu="matMenu">
  <div class="row">

    <div *ngIf="user_service.isUtenteLogged && !user_service.isSU" class="col-12 d-flex justify-content-center mb-2 bg-white">
      <button mat-button>Il mio profilo</button>
    </div>
    <div *ngIf="user_service.isUtenteLogged && user_service.isSU" class="col-12 d-flex justify-content-center mb-2 bg-white">
      <button mat-button (click)="goTo('su')">ADMIN</button>
    </div>
    <mat-divider class="mb-2"></mat-divider>
    <div *ngIf="user_service.isUtenteLogged" class="col-12 d-flex justify-content-center  bg-white">
      <button  mat-button color="accent" (click)="logout()">Disconnetti</button>
    </div>
    <mat-divider class="mb-2"></mat-divider>
    <div *ngFor="let value of user_service.mapPrenotazioniUtente | keyvalue" class="col-12 d-flex justify-content-center  bg-white">
      <app-prenotazioni [dettaglio] = "false" [corso]="value.key" [events]="value.value"></app-prenotazioni>
      
    </div>

  </div>
</mat-menu>

<mat-menu class="mt-2 bg-light" #menuLogin="matMenu">
  <div class="row">
    <div  class="col-12 d-flex justify-content-center bg-white p-3">
      <button  mat-button color="accent" class="login-with-google-btn" (click)="openLogin()">Accedi con google</button>

    </div>


  </div>
</mat-menu>
