.fixed-nav-bar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    padding-left: 15px; 
    padding-right: 15px;
    background-color: #e2e2e2;
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 2px -2px #e3e3e3;
}