.fixed-nav-bar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 2px -2px #e3e3e3;
    justify-content: center !important;

}


.top-bar { 
    position: fixed; 
    top: 42px !important; 
    left: 0; 
    z-index: 9999; 
    width: 100%;
    background-color: #e2e2e2;
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 2px -2px #e3e3e3;
    margin-right: 0px;
    max-height: 163px;
}

.img-button{
    margin-left: 5px;
    margin-top: -2px;
}

.custom-strokerd-button{
    border-color: #FF914D !important;
    color: #FF914D !important;
}

.custom-color-img{
    filter: invert(1);
    /* or to blue */
    filter: invert(83%) sepia(41%) saturate(5549%) hue-rotate(326deg) brightness(105%) contrast(102%);
}

.prenotazioni{
    margin-left: -25px
}
