

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Alessio Pinna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" (click)="openSideBar()" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Prenota online</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Il mio percorso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contatti</a>
        </li>
        <li style="margin-left: 55px;" class="nav-item ml-signin">
          <a class="nav-link" href="#">Accedi  |  Registrati</a>
        </li>
      </ul>
    </div>
  </nav>
