<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-nav-bar pr-4 pl-4">
  <button mat-button (click)="goTo('')"><img src="/assets/logo.png" class="logo" height="30px" alt="image"></button>
  
  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" (click)="openSideBar()" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isUtenteLogged && !isSU" class="nav-item active">
        <button mat-button><strong>Il mio profilo </strong> <img class="img-button" width="20" height="20"
            src="/assets/icons/svgs/regular/user-com.svg"></button>
      </li>
      <li style="margin-left: 55px;" *ngIf="isSU" class="nav-item ml-55">
        <button mat-button (click)="goTo('su')"><strong>SUPER_USER</strong> <img class="img-button"
            width="20" height="20" src="/assets/icons/svgs/regular/gem.svg"></button>
      </li>
      <li *ngIf="isUtenteLogged" class="nav-item">
        <button mat-button (click)="logout()" >Disconnetti <img class="img-button" width="20" height="20"
            src="/assets/icons/svgs/regular/logout.svg"></button>
      </li>
      
      <li style="margin-left: 55px;" *ngIf="!isUtenteLogged" class="nav-item ml-55">
        <button mat-button (click)="openLogin()"><strong>Accedi | Registrati</strong> <img class="img-button"
            width="20" height="20" src="/assets/icons/svgs/regular/login.svg"></button>
      </li>

    </ul>
  </div>
</nav>

<div *ngIf="openSide" class=" top-bar bg-light d-flex my-auto  justify-content-end top_bottom_top_bar">
  <ul class="navbar-nav delay_one_sec my-auto ">
    <li *ngIf="!isUtenteLogged" class="nav-item ml-55">
      <button mat-button (click)="openLogin()"><strong>Accedi | Registrati</strong> <img class="img-button" width="20" height="20" src="/assets/icons/svgs/regular/login.svg"></button>
    </li>
    <li *ngIf="isUtenteLogged" class="nav-item active">
      <button mat-button ><strong>Il mio profilo </strong> <img class="img-button" width="20" height="20" src="/assets/icons/svgs/regular/user-com.svg"></button>
    </li>
    <li *ngIf="isUtenteLogged" class="nav-item">
      <button mat-button (click)="logout()">Disconnetti <img class="img-button" width="20" height="20" src="/assets/icons/svgs/regular/logout.svg"></button>
    </li>
  </ul>
</div>