<div *ngIf="dettaglio && allConfirmed && events.length === 0" class="row mt-3">

  <div class="col-12 d-flex justify-content-center">
    <button mat-stroked-button color="primary" (click)="addEvent()">Nuova prenotazione</button>


  </div>
</div>



<div *ngIf="eventsNotConfirmed.length > 0" class="row mt-2 mb-n1">
  <div class="col-12">
    <p class="fst-italic Bio-font px-3">Data / ora inizio lezione e n° ore </p>

  </div>
 
</div>



<div *ngFor="let event of eventsNotConfirmed" class="row">

  {{event.start}}
  <div class="col-12 d-flex flex-row">
    <input class="form-control input-calendar form-data-prenotazione" type="text" mwlFlatpickr [(ngModel)]="event.start"
      (ngModelChange)="cs.refreshCalendar.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
      dateFormat="Y-m-d H:i" altFormat="F j, Y H:i" placeholder="Data / ora lezione" [minDate]="today | json"
      [disabled]="event.meta.confirmed" />
      <app-incrementer (counterEmitter)="event.meta.ore = $event" [value]="0" [step]="1"
      [min]="0" [max]="9"></app-incrementer>

  </div>
 
  <div class="col-12 ">
    <button mat-button color="accent" (click)="deleteNotConfirmed(event)">
      Rimuovi
    </button>
    <button *ngIf="!event.meta.confirmed && event.meta.ore > 0" mat-button color="primary" (click)="conferma(event)">
      Conferma
    </button>
  </div>
</div>

<div *ngFor="let event of events" class="row mt-3">
  <div class="col-12 py-0 px-4 row-height">
    <h6 class="fst-italic Bio-font"><strong>Lezione di {{event.title }}</strong></h6>

  </div>
  <div class="col-12 py-0 px-4 row-height d-flex flex-row">
    <p class="Bio-font info-prenotazione">Data ed ora di inizio : {{event.start | date :'short'}}</p>
    <button mat-button color="accent" (click)="delete(event)">
      Rimuovi
    </button>
  </div>
  
</div>