.info-prenotazione{
    font-size: 14px;
    margin-bottom: 0px !important;
    margin-top: 7px;
}

.input-calendar{
    width: 300px !important;
}

.form-data-prenotazione {
    height: 52px !important;
    margin-top: 3px !important;
    width: 250px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}