<div class="row mt-5 pb-5">
    <div class="col-12">
        <mat-tab-group [(selectedIndex)]="maintab" (selectedTabChange)="getTab($event)" [disablePagination] = true [disableRipple] = true mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Acquisti">
                
            </mat-tab>
            <mat-tab label="Prodotti">
               
                <div *ngIf="!corsi || corsi.length === 0" class="row">
                    <div class="col-12 d-flex justify-content-center">
                        Nessun prodotto 
                    </div>
                </div>
                <div *ngFor="let corso of corsi" class="row mb-3">
                    <div class="col-4 d-flex justify-content-center">
                        <app-card-corso [corso]="corso"></app-card-corso>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <button mat-stroked-button style="height: 40px;" color="primary" (click) = "edit(corso)"><strong>EDIT</strong> </button>
                    </div>
                    <div class="col-6  bg-light " [innerHTML]="corso.descrizione">
                        
                    </div>
                   
                </div>
              
            </mat-tab>
            <mat-tab label="Editor prodotto">
                <div class="row">
                    <div class="col-6 d-flex justify-content-center bg-light p-3">
                        <button mat-stroked-button (click)="reset()" color="accent"><strong>RESET CORSO</strong> </button>
                    </div>
                    <div class="col-6 d-flex justify-content-center bg-light p-3">
                        <button mat-stroked-button color="primary" (click) = "save()"><strong>SALVA CORSO</strong> </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 d-flex justify-content-center bg-light p-3">
                        <app-card-corso [corso]="corso"></app-card-corso>
                    </div>
                    <div class="col-6 bg-light p-3">
                        <div class="col-12 d-flex justify-content-center ">
                            ID : {{corso.id}}
                        </div>
                      
                        <div class="col-12 d-flex justify-content-center ">
                            <mat-form-field class="example-form-field w-100">
                                <mat-label>Titolo</mat-label>
                                <input matInput type="text" [(ngModel)]="corso.nome">
                                <button *ngIf="corso.nome" matSuffix mat-icon-button aria-label="Clear" (click)="corso.nome=''">
                                  <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-12 d-flex justify-content-center ">
                            <mat-form-field class="example-form-field w-100">
                                <mat-label>Titolo Ext</mat-label>
                                <input matInput type="text" [(ngModel)]="corso.nomeExt">
                                <button *ngIf="corso.nomeExt" matSuffix mat-icon-button aria-label="Clear" (click)="corso.nomeExt=''">
                                  <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-12 d-flex justify-content-center ">
                            <mat-form-field class="example-form-field w-100">
                                <mat-label>Image</mat-label>
                                <input matInput type="text" [(ngModel)]="corso.imgName">
                                <button *ngIf="corso.imgName" matSuffix mat-icon-button aria-label="Clear" (click)="corso.imgName=''">
                                  <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-12 d-flex justify-content-center ">
                            <mat-form-field class="example-form-field ">
                                <mat-label>Prezzo</mat-label>
                                <input matInput type="number" (ngModelChange)="corso.prezzo = $event" [ngModel]="corso.prezzo">
                               
                            </mat-form-field>
                        </div>
                        <div class="col-12 d-flex justify-content-center ">
                            <button mat-button [matMenuTriggerFor]="menu">Tipi corso</button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="corso.tipo = dominio" *ngFor="let dominio of tplCorsi">{{dominio.descrizione}}</button>
                            </mat-menu>
                        </div>
                    </div>
                  
                    
                </div>
                <div class="row mt-3">
                    <div class="col-6 py-0 d-flex justify-content-center">
                        <angular-editor [(ngModel)]="corso.descrizione" [config]="config"></angular-editor>
                    </div>
                    <div class="col-6  bg-light " [innerHTML]="corso.descrizione">
                        
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
