<div class="row mt-5 pb-5">
    <div class="col-9 ">
        <h3 class="Bio-font title-corso">{{corso.titolo}}</h3>
        <h4 class="Bio-font title-ext-corso">{{corso.titoloExt}}</h4>
    </div>
    <div class="col-3 d-flex justify-content-end header-detail">
        <img *ngIf="!isMobile" class="img_corso img-shadow " src="/assets/svg/{{corso.imgName}}.svg" alt="Card image cap">
        <img *ngIf="isMobile" class="img_corso_sm img-shadow " src="/assets/svg/{{corso.imgName}}.svg" alt="Card image cap">

    </div>
    <div class="col-12 h-100 bg-light rounded px-0 container-detail">

        <mat-tab-group [disablePagination] = true [disableRipple] = true mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Dettaglio">
                <div [innerHTML]="corso.descrizione"  class="col-12 bg-white p-4">
        
                </div>
            </mat-tab>
            <mat-tab *ngIf="isUtenteLogged" label="Prenota">
                <app-calendar [corso] = "corso"></app-calendar>
            </mat-tab>
          </mat-tab-group>
        
    </div>
    
</div>
