
  
.top_bottom_top_bar{
    --height: 150px;
    -webkit-animation: animation_top_bottom 0.5s;
}

@keyframes animation_top_bottom {
  from {height: 0px;}
  to {height: var(--height)}
}


.delay_one_sec {
  animation: animation_delay 0s 0.5s forwards;
  visibility: hidden;
}

@keyframes animation_delay {
  to   { visibility: visible; }
}



.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}