@font-face {
    font-family: Bio;
    src: url('../assets/fonts/RopaSans-Italic.ttf') format('truetype');
  }
.Bio-font{
    font-family: Bio !important;
}

.p-small{
  font-size: smaller;
}


.mat-typography {
  font: Poppins,sans-serif !important;
  letter-spacing: normal;
}


.text-h4 {
  color: var(--textColor1) !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 140% !important;
  font-family:  Poppins,sans-serif !important;
}

.text-p-base {
  font-size: 16px;
  font-family:  Poppins,sans-serif !important;
}