<div class="d-flex justify-content-start border incrementer-box rounded">
  <button mat-button mat-icon-button matPrefix class="{{shouldDisableDecrement(_value) ? 'incrementer-button-disabled' : 'incrementer-button' }} mx-4 my-auto" aria-label="Remove" [color]="getColor()"
    (click)="incrementValue(-_step)" [disabled]="shouldDisableDecrement(_value)">
    <mat-icon>remove</mat-icon>
  </button>
  <p class="fst-italic Bio-font number my-auto">{{_value}} ore</p>
  <button mat-button mat-icon-button matSuffix class="{{shouldDisableIncrement(_value) ? 'incrementer-button-disabled' : 'incrementer-button' }} mx-4 my-auto" aria-label="Add" [color]="getColor()"
    (click)="incrementValue(_step)" [disabled]="shouldDisableIncrement(_value)">
    <mat-icon>add</mat-icon>
  </button>

</div>
    
    