mat-form-field {
    width: 100px;
    text-align: center;
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  .number{
    font-size: 30px !important;
  }


.incrementer-button {
  background-color: silver;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.incrementer-button-disabled {
  height: 40px;
  width: 40px;
}
  

.incrementer-box{
  max-width: fit-content;
  padding: 2px;
  background-color: white;
}