mat-form-field {
    width: 100px;
    text-align: center;
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  .number{
    font-size: 17px !important;
    padding-left: 10px;
    padding-right: 10px;
  }


.incrementer-button {
  background-color: silver;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 0px !important;
    margin-right: 0px !important;
}

.incrementer-button-disabled {
  height: 30px;
  width: 30px;
  margin-left: 0px !important;
    margin-right: 0px !important;
}

.icon-incrementer{
  margin-top: -12px;
}
  

.incrementer-box{
  max-width: fit-content;
  padding: 6px;
  background-color: white;
  height: 52px;
  margin-top: 3px;
}