<div class="row mt-5 mb-5">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <div class="d-flex d-flex justify-content-center">
            <img src="/assets/bio.png" style="width: 70%; height: auto;" alt="image">
        </div>
    </div>
  
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-5">
        <div class="col-12">
            <h1 class="h1-custom">Ciao</h1>
        </div>
        <div class="col-12">
            <h1 class="h2-custom">Mi chiamo Alessio </h1>
        </div>
        <div class="col-12 mb-2 mt-5">
            <blockquote class="blockquote-footer text-center">
                <p class="fst-italic">Sono uno sviluppatore web con esperienza pluriennale in molteplici aziende IT come Accenture e Capgemini ed in consulenza su progetti importanti presso Generali ed Alleanza assicurazioni , Sisal , Banca Monte dei Paschi , BPER banca . </p>
                <p class="fst-italic mt-3">Sono partito da zero nel mondo della programmazione attraverso un master durato oltre un anno in Elis a Roma ( una scuola di alta formazione ) . La costanza e la determinazione mi hanno aiutato superare le difficoltà ed ad apprendere la mentalità della programmazione.</p>
                <p class="fst-italic mt-3">Lavorare come programmatore ti garantisce ad oggi un posto di lavoro sicuro e nella maggior parte dei casi contratti a tempo indeterminato con uno stipendio importante</p>
    
            </blockquote>
        </div>
    </div>
</div>