

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.event.title }}</pre>
    </div>
    <div>
      Inizio:
      <pre>{{ modalData?.event.start | date:'medium' }}</pre>
    </div>
    <div>
      Fine:
      <pre>{{ modalData?.event.end | date:'medium' }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<div class="row mt-5">
  <div class="col-6">
    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-2">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()" (click)="$event.stopPropagation();">
                        Indietro
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                        (click)="$event.stopPropagation();">
                        Oggi
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()" (click)="$event.stopPropagation();">
                        Avanti
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month" (click)="$event.stopPropagation();">
                        Mese
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week" (click)="$event.stopPropagation();">
                        Settimana
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day" (click)="$event.stopPropagation();">
                        Giorno
                    </div>
                </div>
            </div>
        </div>
  
    </mat-menu>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="cs.refreshCalendar" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="cs.refreshCalendar"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="cs.refreshCalendar"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
  
  