<app-bio></app-bio>

<div class="row mb-4">
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
    <img role="presentation" alt="" class="c-icon" src="/assets/svg/code03.svg">
    <h3 class="text-h4">Tutor online</h3>
    <p class="text-p-base">La cosa più importante è far propria la mentalità della programmazione , ci sono io per questo !! </p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
    <img role="presentation" alt="" class="c-icon" src="/assets/svg/code01.svg">
    <h3 class="text-h4">Apprendi scrivendo codice</h3>
    <p class="text-p-base">L'entusiasmo di veder funzionare quello che stai studiando è l'unico modo per apprendere la teoria </p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
    <img role="presentation" alt="" class="c-icon" src="/assets/svg/code02.svg">
    <h3 class="text-h4">L'obiettivo ?</h3>
    <p class="text-p-base">E' quello di creare insieme un esempio di applicazione web completa di tutta la teoria appresa</p>
  </div>
</div>

<div *ngFor="let value of mapCorsi | keyvalue" class="row mb-4 bg-light rounded p-2">
  <div  class="col-12 d-flex justify-content-center pt-3 pb-3">
    <p class="text-h3"><strong>Lezioni di {{value.key}}</strong></p>
  </div>
  
  <div *ngIf="'BACK-END' === value.key" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12  inner-info d-flex justify-content-center">
    
    <div class="container-image">
      <img role="presentation" alt="" src="/assets/svg/be.svg">
    </div>
  </div>
  <div *ngIf="'BACK-END' === value.key" class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12  inner-info">
    <h3 class="text-h3">Chi è il Back-End developer ?</h3>

    <p class="text-p-base align-middle">Il Back-End Web Developer si occupa di far funzionare tutto quello che c’è “dietro le quinte” di un sito o di un’applicazione web e del suo funzionamento lato dati e server, quindi tutto ciò che gli utenti non vedono visitando il sito.</p>

  </div>
  <div *ngIf="'FRONT-END' === value.key" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12  inner-info d-flex justify-content-center">
    <div class="container-image">
      <img role="presentation" alt="" src="/assets/svg/fe.svg">
    </div>
  </div>
  <div *ngIf="'FRONT-END' === value.key" class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12  inner-info">
    <h3 class="text-h3">Chi è il Front-End developer ?</h3>
    <p class="text-p-base align-middle">Il Front-End Web Developer si occupa della parte visibile di un sito o di un’applicazione ed è la figura che fa da tramite tra il web designer e il back-end web developer. Grazie alle sue competenze tecniche, è in grado di rendere la UX (User Experience) semplice ed interattiva.</p>

  </div>
  
  <div  class="col-12 inner-corsi rounded mt-2">

    <div class="slick-wrapper">

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let corso of value.value" class="slide p-2">
          <app-card-corso [corso]="corso"></app-card-corso>
        </div>
      </ngx-slick-carousel>

    </div>
  </div>
</div>


