side-container{
    height: 100vh;
}

side-bar{
    width: 200px;
}

.tipo-corso{
    font-size: 20px;
}
.bg-corsi{
    background-color: rgb(236, 236, 236);
}

.inner-corsi{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}