<div class="row mt-3">

  <div class="col-12 d-flex justify-content-center">
    <button mat-stroked-button *ngIf="allConfirmed" color="primary" (click)="addEvent()">Nuova prenotazione</button>


  </div>
</div>



<div *ngIf="eventsNotConfirmed.length > 0" class="row mt-2">
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-7 col-7 px-3">
    <p class="fst-italic Bio-font">Data / ora inizio lezione</p>

  </div>
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-5 col-5 px-3">
    <p class="fst-italic Bio-font">N° ore richieste</p>
  </div>
</div>



<div *ngFor="let event of eventsNotConfirmed" class="row">
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-7 col-7 py-0 row-height">
    <input class="form-control input-calendar" type="text" mwlFlatpickr [(ngModel)]="event.start"
      (ngModelChange)="cs.refreshCalendar.next(event)" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
      dateFormat="Y-m-d H:i" altFormat="F j, Y H:i" placeholder="Not set" [minDate]="'today'"
      [disabled]="event.meta.confirmed" />


  </div>
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-5 col-5 py-0 row-height  my-auto">
    <app-incrementer *ngIf="!event.meta.confirmed" (counterEmitter)="event.meta.ore = $event" [value]="0" [step]="1"
      [min]="0" [max]="10"></app-incrementer>
    <p *ngIf="event.meta.confirmed" class="fst-italic Bio-font mt-3 ml-3">{{event.meta.ore}} ore</p>
  </div>
  <div class="col-12 ">
    <button mat-button color="accent" (click)="deleteNotConfirmed(event)">
      Rimuovi
    </button>
    <button *ngIf="!event.meta.confirmed && event.meta.ore > 0" mat-button color="primary" (click)="conferma(event)">
      Conferma
    </button>
  </div>
</div>

<div *ngFor="let event of events" class="row">
  <div class="col-12 py-0 px-4 row-height">
    <h6 class="fst-italic Bio-font"><strong>Lezione di {{event.title }}</strong></h6>

  </div>
  <div class="col-12 py-0 px-4 row-height d-flex flex-row">
    <p class="Bio-font info-prenotazione">Data ed ora di inizio : {{event.start | date :'short'}}</p>
    <button mat-button color="accent" (click)="delete(event)">
      Rimuovi
    </button>
  </div>
  
</div>