/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'animations.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mt-10 {
    margin-top: 4rem !important;
}

.vh-100 {
    min-height: 100vh;
}

.mat-drawer-inner-container {
    width: 200px !important;
    height: 100%;
    overflow: auto;
    z-index: 999999 !important;
    -webkit-overflow-scrolling: touch;
}

mat-drawer-content{
    margin-left: 0px !important;
}


.mat-drawer {
    z-index: 999999 !important;
    box-shadow: 5px 0 5px -5px #333;
}

ml-signin{
    margin-left: 55px !important;
}

.blockquote-footer {
    margin-top: -1rem;
    margin-bottom: 1.1rem;
    font-size: 1.1em;
    color: #6c757d;
}

.blockquote-footer::before {
    content: "  ";
}

.h1-custom { 
    color: rgb(66, 66, 66); 
    font-family: 'Helvetica Neue', sans-serif !important; 
    font-size: 20vh !important; 
    font-weight: bold !important; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: left !important; 
    margin-bottom: 0.4em !important;
}


.h2-custom {
    color: #424242;
    font-family: "Helvetica Neue", sans-serif !important;
    font-size: 4vh !important;
    font-weight: bold !important;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left !important;
    margin-left: 20px !important;
}

.yellow-span{
    height: 30px;
    padding: 2px;
    background-color: rgb(239, 236, 66);
}

.green-span{
    height: 30px;
    padding: 2px;
    background-color: rgb(45, 255, 126);
}

.red-span{
    height: 30px;
    padding: 2px;
    background-color: rgba(255, 40, 50, 0.624);
}
