/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'styles/animations.scss';
@import 'styles/typography.scss';
@import 'styles/util.scss';

html, body { height: 100%; }
body { margin: 0; font-family: 'Custom'}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
    font-size: 9px;
}

.card {
    --bs-card-border-width: 0px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #dba96c;
}


.mat-dialog-container {
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
app-dialog-login{
    min-height: 100%;
}